<style>
body {
  font-family: Arial;
}
</style>
<table style="border-collapse: collapse; width: 100%;" border="0">
<tbody>
<tr>
<td style="width: 75%; padding-left: 80px;"><span style="color: #000000;">Test case: <a href="{{case_link}}">{{test_case_id}}</a> - {{test_case_name}}</span></td>
<td style="width: 10%;"><span style="color: {{case_color}};">{{test_case_result}}</span></td>
    <td style="width: 15%;"><span style="color: {{automated_color}};">{{test_case_automated}}</span></td>
</tr>
</tbody>
</table>