<style>
body {
  font-family: Arial;
}
</style>
<table style="border-collapse: collapse; width: 100%;" border="0">
<tbody>
<tr>
<td style="width: 50%;">
<p><strong>Test report summary</strong></p>
<p>Number of overall test cases: {{cases}}</p>
<p>Number of passed test cases: {{passed}}</p>
<p>Number of failed test cases: {{failed}}</p>
<p>Number of not applicable test cases: {{notapplicable}}</p>
<p>Number of blocked test cases: {{blocked}}</p>
<p>Number of unspecified test cases: {{unspecified}}</p>
<p>Number of other test cases: {{other}}</p>
</td>
<td style="width: 50%;"><img src="{{path}}"></td>
</tr>
</tbody>
</table>
